<div class="login-wrapper"  fxLayoutAlign="center center">
  <mat-toolbar  class="app-header toolbar">
    <mat-toolbar-row>
      <img src="../../../assets/logo.png" alt="img_source" title="img_source" class="logo">
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title><div class="admindiv"><span>Admin Login</span></div></mat-card-title>
      </mat-card-header>

      <form class="example-form" style="margin-top: 70px"  #loginForm="ngForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name / Mobile No / Mail Id"   class="form-control" [(ngModel)]="login.userName" name="userName" #userName="ngModel">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Enter Password"   class="form-control" [(ngModel)]="login.password" name="password" #password="ngModel">
          </mat-form-field>
        </mat-card-content>
        <button class="loginButton" (click)="userLogin()" >Login</button>
      </form>
    </mat-card>
  </div>

  </div>


