
<div class="login-wrapper"  >
  <div style="display: inline-flex">
  <mat-toolbar  class="app-header" style="width: 30%">
  </mat-toolbar>
  <mat-toolbar  class="app-header" style="background: linear-gradient(45deg,#ffffff 25%, #AAD0D9 25%);width: 40%">
  </mat-toolbar>
  </div>
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened >
      <div style="margin-top: 50px; padding: 20px;" ><img src="../../../assets/img_avatar.png"  alt="Avatar" style="width:200px ;  border-radius: 50%;">
      </div>
      <div style="text-align: center">Wel come Mr.dhakad</div>

      <div style="width: 240px ; height:50px ;background: #AAD0D9;border-left: 5px solid #162850 ;margin-top: 5px"><div style="display: inline-flex"><img src="../../../assets/Users.png" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px;"><div style="margin-top: 18px">Students</div></div></div>
      <div style="width: 240px ; height:50px ;background: #AAD0D9;border-left: 5px solid #162850 ;margin-top: 5px"><div style="display: inline-flex"><img src="../../../assets/Faculty.png" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px;"><div style="margin-top: 18px">Faculty</div></div></div>
      <div style="width: 240px ; height:50px ;background: #AAD0D9;border-left: 5px solid #162850 ;margin-top: 5px"><div style="display: inline-flex"><img src="../../../assets/Operator.png" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px;"><div style="margin-top: 18px">Operator</div></div></div>
      <div style="width: 240px ; height:50px ;background: #AAD0D9;border-left: 5px solid #162850 ;margin-top: 5px"><div style="display: inline-flex"><img src="../../../assets/Pacakge.png" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px;"><div style="margin-top: 18px">Packages</div></div></div>
      <div style="width: 240px ; height:50px ;background: #AAD0D9;border-left: 5px solid #162850 ;margin-top: 5px"><div style="display: inline-flex"><img src="../../../assets/Finance.png" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px;"><div style="margin-top: 18px">Finance</div></div></div>
      <div style="width: 240px ; height:50px ;background: #AAD0D9;border-left: 5px solid #162850 ;margin-top: 5px"><div style="display: inline-flex"><img src="../../../assets/Users.png" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px;"><div style="margin-top: 18px" (click)="onClickCategory()">Category</div></div></div>
      <div style="width: 240px ; height:50px ;background: #AAD0D9;border-left: 5px solid #162850 ;margin-top: 5px"><div style="display: inline-flex"><img src="../../../assets/Users.png" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px;"><div style="margin-top: 18px" (click)="onClickSubCategory()">Sub-Category</div></div></div>

    </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container>

</div>
