

<div class="login-wrapper"  fxLayoutAlign="center center">

  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title><div class="admindiv"><span>Create Sub-Category</span></div></mat-card-title>
      </mat-card-header>

      <form class="example-form" style="margin-top: 70px">
        <mat-card-content>
          <mat-form-field  appearance="fill" class="example-full-width">
            <mat-label>Sub-Category Name</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Select Category</mat-label>
            <mat-select>
              <mat-option value="category">Category1</mat-option>
              <mat-option value="category">Category2</mat-option>
              <mat-option value="category">Category3</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <button mat-flat-button color="primary">Save</button>
        <button mat-flat-button color="primary"  style="margin-left: 10px">Cancel</button>
      </form>
    </mat-card>
  </div>

</div>
