<div class="login-wrapper" fxLayoutAlign="center center">
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <div class="subjectdiv"><span>Subject</span></div>
        </mat-card-title>
      </mat-card-header>
      <a  routerLink="/operator/dashboard" style="color: #162850;float: right; margin-top: 10px; margin-right: 10px; cursor: pointer"> Back </a>
      <img src="../../../assets/plus.png" style="    float: right; margin-top: 10px; margin-right: 10px;height: 20px;width: 20px;cursor: pointer" (click)="allowSubjectForm()" *ngIf="!enableSubject" >
      <form [formGroup]="uploadForm" (ngSubmit)="submit()" style="text-align: center" *ngIf="enableSubject">
        <mat-card-content>
          <img [src]="imageURL" *ngIf="imageURL && imageURL !== ''"
               style="margin-top: 20px; height: 100px;width: 100px;border: 5px solid #AAD0D9; position: absolute"
               [alt]="uploadForm.value.name">
          <input type="file" accept="image/*" class="form-control" name="subjectImage" (change)="showPreview($event)"
                 style="margin-left: 200px;margin-top: 58px;"/>
          <mat-form-field style="margin-left: 10px; width:30%">
            <input matInput class="form-control" placeholder="Enter subject name"
                   formControlName="name">
          </mat-form-field>

        </mat-card-content>
        <button mat-flat-button color="primary" style="margin-left: 10px" *ngIf="mode==='update'">Update
        </button>
        <button mat-flat-button color="primary" style="margin-left: 10px" *ngIf="mode==='create'">Save
        </button>
        <button mat-flat-button color="primary" style="margin-left: 10px" (click)="reset()">Cancel</button>
      </form>
    </mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top: 50px">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef style="background: #162850 ; color:white"> No.</th>
        <td mat-cell *matCellDef="let element"> {{element.position}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="background: #162850 ; color:white"> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef style="background: #162850 ; color:white"> Image</th>
        <td mat-cell *matCellDef="let element"><img src="{{element.imagePath}}" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px; height: 25px;width:25px"></td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="background: #162850 ; color:white"> Actions</th>
        <td mat-cell *matCellDef="let element"><img src="../../../assets/edit.png" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px; height: 18px ;width: 18px;cursor: pointer" (click)="getSubjectById(element._id)">
          <img src="../../../assets/remove.png" (click)="removeSubject(element._id)" style="margin-right: 40px;
    margin-left: 10px;
    margin-top: 15px;height: 18px ;width: 18px;cursor: pointer"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>

  </div>

</div>
